@model List<SkyLineShop.Models.CartItem>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Trang Chủ</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="shopping__cart__table">
                    @if (Model != null)
                    {
                        <form id="form_quantity" action="~/Cart/UpdateCart" method="post">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img src="/Assets/img/product/@item.Image" style="width: 90px" alt="" />
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>@item.Product.product_name</h6>
                                                    <h5>@String.Format("{0:0,0}", item.Product.price)</h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">

                                                    <div class="pro-qty-2">
                                                        <input type="text" value="@item.Quantity" name="quantity_pro" />
                                                    </div>
                                                    <input type="hidden" value="@item.Product.id_product" name="id_product" />
                                                    <p class="text-danger">@TempData["error"]</p>


                                                </div>
                                            </td>
                                            <td class="cart__price">
                                                @if (item.Product.id_cate == 1 || item.Product.id_cate == 2)
                                                {
                                                    <select name="sizeSelect">
                                                        <option value="M" @(item.Size == "M" ? "selected" : "")>M</option>
                                                        <option value="L" @(item.Size == "L" ? "selected" : "")>L</option>
                                                        <option value="XL" @(item.Size == "XL" ? "selected" : "")>XL</option>
                                                        <option value="XXL" @(item.Size == "XXL" ? "selected" : "")>XXL</option>
                                                    </select>
                                                }
                                                else if (item.Product.id_cate == 3)
                                                {
                                                    <select name="sizeSelect">
                                                        <option value="39" @(item.Size == "39" ? "selected" : "")>39</option>
                                                        <option value="40" @(item.Size == "40" ? "selected" : "")>40</option>
                                                        <option value="41" @(item.Size == "41" ? "selected" : "")>41</option>
                                                        <option value="42" @(item.Size == "42" ? "selected" : "")>42</option>
                                                    </select>
                                                }

                                            </td>
                                            <td class="cart__price">@String.Format("{0:0,0}", (item.Product.price * item.Quantity))</td>

                                            <td class="cart__close remove_product" data-id="@item.Product.id_product">
                                                <a href="~/cart/RemoveItem?id_product=@item.Product.id_product"><i class="fa fa-close"></i></a>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </form>
                    }
                    else
                    {
                        <span class="alert-danger">Chưa có sản phẩm nào trong giỏ hàng!</span>
                    }
                </div>


                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="continue__btn">
                            <a href="~/Shop">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="continue__btn">
                            <a href="~/Cart/RemoveAll"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="continue__btn update__btn update_cart" onclick="submitForm2('form_quantity')">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code" />
                        <button type="submit">Apply</button>
                    </form>
                </div>

                @{ decimal? sum = 0;}
                @if (Model != null)
                {
                    foreach (var items in Model)
                    {
                        sum += (items.Product.price * items.Quantity);
                        <div>

                        </div>
                    }
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>@String.Format("{0:0,0}", sum) VND</span></li>
                            <li>Total <span>@String.Format("{0:0,0}", sum) VND</span></li>
                        </ul>
                        <a href="~/Checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                }
                else
                {
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>0 VND</span></li>
                            <li>Total <span>0 VND</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <script>
        function submitForm2(name) {
            var select = document.getElementById(name);
            var form = select.closest("form");
            form.submit();
        }

        // Cập nhật giỏ hàng

        //$(document).ready(function () {
        //    $(".update_cart").click(function (e) {
        //        e.preventDefault();

        //        var data = {
        //            idProduct: [],
        //            quantitie: [],
        //            sizee: []
        //        };

        //        // Lặp qua các phần tử input trong form
        //        $("form input[name='id_product']").each(function () {
        //            data.idProduct.push($(this).val());
        //        });

        //        $("form input[name='quantity_pro']").each(function () {
        //            data.quantitie.push($(this).val());
        //        });

        //        $("form select[name='sizeSelect']").each(function () {
        //            data.sizee.push($(this).val());
        //        });

        //        $.ajax({
        //            url: '/Cart/UpdateCart',
        //            type: 'POST',
        //            data: data, // Chỉ định dữ liệu dưới dạng đối tượng JSON
        //            traditional: true, // Chuyển dữ liệu mảng theo kiểu truyền thống
        //            success: function (response) {
        //                if (response.success) {
        //                    // Cập nhật giao diện người dùng (ví dụ: hiển thị thông báo)
        //                    alert(response.message);
        //                    var itemCount = response.countCart;
        //                    $('#CartCount').text(itemCount);
        //                } else {
        //                    alert("Có lỗi xảy ra: " + response.message);
        //                }
        //            },
        //            error: function (xhr, status, error) {
        //                alert("Lỗi Ajax: " + error);
        //            }
        //        });
        //    });
        //});

        //$(document).ready(function () {
        //    $(".remove_product").click(function (e) {
        //        e.preventDefault();

        //        var data = {
        //            id_product: $(this).data("id")
        //        };

        //        $.ajax({
        //            url: '/Cart/RemoveItem',
        //            type: 'POST',
        //            data: data, // Chỉ định dữ liệu dưới dạng đối tượng JSON
        //            traditional: true, // Chuyển dữ liệu mảng theo kiểu truyền thống
        //            success: function (response) {
        //                if (response.success) {
        //                    alert(data.id_product);
        //                    // Cập nhật giao diện người dùng (ví dụ: hiển thị thông báo)
        //                    alert(response.message);
        //                    //var itemCount = response.countCart;
        //                    //$('#CartCount').text(itemCount);
        //                } else {
        //                    alert("Có lỗi xảy ra: " + response.message);
        //                }
        //            },
        //            error: function (xhr, status, error) {
        //                alert("Lỗi Ajax: " + error);
        //            }
        //        });
        //    });
        //});

    </script>
}

<!-- Shopping Cart Section End -->
